<div>
  <header>
    <ul class="nav bg-secondary">
      <li routerLinkActivate="active" class="nav-item text-white">
        <a [routerLink]="['/crud']" aria-current="page" class="nav-link">Lista</a>
      </li>
      <li *ngIf="!isLogged()" routerLinkActivate="active" class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Login</a>
      </li>
      <li *ngIf="isLogged()" routerLinkActivate="active" class="nav-item">
        <a [routerLink]="['/']" (click)="logout()" class="nav-link">Sair</a>
      </li>
    </ul>
  </header>

</div>
