<div>
  <header>
    <ul class="nav nav-tabs">
      <li routerLinkActivate="active" class="nav-item"><a [routerLink]="['/crud']" class="nav-link">Crud</a></li>
      <li routerLinkActivate="active" class="nav-item"><a [routerLink]="['/']" class="nav-link">Login</a></li>
      <div *ngIf="logged" class="d-flex justify-content-end">
        <li routerLinkActivate="active" class="nav-item"><button (click)="logout()" href="#" class="nav-link">Sair</button></li>
      </div>
    </ul>
  </header>

</div>
