<div class="container">

  <!-- {{forms.valid | json }} {{forms.value | json}} -->

  <label class="h1 d-flex justify-content-center text-primary text-uppercase">Formulário de Usuários</label>

  <form novalidate [formGroup]="forms">
    <div class="row p-2">

      <div class="col-md form-group">

        <ab-control-error label="Nome" errorMessage="Nome errado">
          <input [ngClass]="validatorSet('name')" type="text" class="form-control" id="nameForm" formControlName="name" placeholder="Nome">
        </ab-control-error>
      </div>

      <div class="col-md form-group">

        <ab-control-error label="CPF" errorMessage="CPF errado!">
          <input [ngClass]="validatorSet('cpf')" type="text" mask="000.000.000-00" class="form-control" id="cpfForm" formControlName="cpf"
            placeholder="CPF">
        </ab-control-error>

      </div>

      <div class="col-md form-group">

        <ab-control-error label="Telefone" errorMessage="telefone errado!">
          <input [ngClass]="validatorSet('phone')" type="text" mask="(00) 00000-0000" class="form-control" id="phoneForm"
            formControlName="phone" placeholder="Telefone">
        </ab-control-error>
      </div>

    </div>

    <div class="row p-2">

      <div class="col form-group">
        <ab-control-error label="E-mail" errorMessage="E-mail errado!">
          <input [ngClass]="validatorSet('email')" type="text" class="form-control" id="emailForm" formControlName="email"
            placeholder="E-mail">
        </ab-control-error>
      </div>

    </div>

    <div class="row p-2">

      <div class="col form-group">
        <ab-control-error label="Confirmar E-mail" errorMessage="E-mais diferentes!">
          <input [ngClass]="validatorSet('confirmEmail')" type="text" class="form-control" id="confirmEmailForm"
            formControlName="confirmEmail" placeholder="Confirmar E-mail">
        </ab-control-error>
      </div>

    </div>

    <div class="row p-2">

      <div class="col form-group">
        <ab-control-error label="CEP" errorMessage="CEP errado!">
          <input [ngClass]="validatorSet('cep')" (blur)="consultCEP()" mask="00000-000" type="text" class="form-control" id="cepForm"
            formControlName="cep" placeholder="CEP">
        </ab-control-error>
      </div>

      <div class="col form-group">
        <ab-control-error label="Número" errorMessage="Número obrigatório!">
          <input [ngClass]="validatorSet('number')" type="text" mask="00000" class="form-control" id="numberForm" formControlName="number"
            placeholder="Número">
        </ab-control-error>
      </div>

      <div class="col-md-4 form-group">
        <ab-control-error label="Complemento">
          <input [ngClass]="validatorSet('complement')" type="text" class="form-control" id="complementForm" formControlName="complement"
            placeholder="Complemento">
        </ab-control-error>
      </div>

    </div>

    <div class="row p-2">

      <div class="col form-group">
        <!-- <div class="form-floating mb-2">
          <input type="text" class="form-control" id="streetForm" formControlName="street" placeholder="Rua">
          <label for="streetForm" class="form-label">Rua</label>
        </div> -->

        <ab-control-error label="Rua" errorMessage="Rua obrigatório!">
          <input [ngClass]="validatorSet('street')" type="text" class="form-control" id="streetForm" formControlName="street"
            placeholder="Rua">
        </ab-control-error>

      </div>

    </div>

    <div class="row p-2">

      <div class="col-md form-group">
        <ab-control-error label="Bairro" errorMessage="Bairro obrigatório!">
          <input [ngClass]="validatorSet('district')" type="text" class="form-control" id="districtForm" formControlName="district"
            placeholder="Bairro">
        </ab-control-error>
      </div>

      <div class="col-md form-group">
        <ab-control-error label="Cidade" errorMessage="Cidade obrigatório!">
          <input [ngClass]="validatorSet('city')" type="text" class="form-control" id="cityForm" formControlName="city"
            placeholder="Cidade">
        </ab-control-error>
      </div>

      <div class="col-md form-group">
        <ab-control-error label="Estado" errorMessage="Estado obrigatório!">
          <input [ngClass]="validatorSet('states')" type="text" class="form-control" id="statesForm" formControlName="states"
            placeholder="Estado">
        </ab-control-error>
      </div>

    </div>

    <div class="row p-2">

      <div class="col form-group">
        <ab-control-error label="Cargo" errorMessage="Cargo obrigatório!">
          <select [ngClass]="validatorSet('position')" class="form-select" formControlName="position">
            <option value="estudante">Estudante</option>
            <option value="programador">Programador</option>
            <option value="suporte">Suporte</option>
          </select>
        </ab-control-error>
      </div>

      <div class="col form-group">
        <label for="" class="form-label">Tecnologias</label>
        <select [ngClass]="validatorSet('technology')" class="form-select" multiple aria-label="Tecnologias" formControlName="technology">
          <option value="node">Node</option>
          <option value="java">JavaScript</option>
          <option value="c">C#</option>
          <option value="sql">SQL</option>
        </select>
      </div>

      <div class="col form-group">
        <label for="" class="form-label">Frameworks</label>

        <div class="row p-2 ">

          <div class="col">

            <ab-control-error errorMessage="framework obrigatório!">
              <div class="form-check form-check-inline">
                <input [ngClass]="validatorSet('framework')" formControlName="framework" type="radio" name="framework" id="radioOption"
                  class="form-check-input" value="angular">
                <label class="form-check-label" for="flexRadioDefault1">Angular</label>
              </div>
            </ab-control-error>

            <ab-control-error errorMessage="framework obrigatório!">
              <div class="form-check form-check-inline">
                <input [ngClass]="validatorSet('framework')" formControlName="framework" type="radio" name="framework" id="radioOption"
                  class="form-check-input" value="react">
                <label class="form-check-label" for="flexRadioDefault1">React</label>
              </div>
            </ab-control-error>

            <ab-control-error errorMessage="framework obrigatório!">
              <div class="form-check form-check-inline">
                <input [ngClass]="validatorSet('framework')" formControlName="framework" type="radio" name="framework" id="radioOption"
                  class="form-check-input" value="vue">
                <label class="form-check-label" for="flexRadioDefault1">Vue</label>
              </div>
            </ab-control-error>

            <ab-control-error errorMessage="framework obrigatório!">
              <div class="form-check form-check-inline">
                <input [ngClass]="validatorSet('framework')" formControlName="framework" type="radio" name="framework" id="radioOption"
                  class="form-check-input" value="jquery">
                <label class="form-check-label" for="flexRadioDefault1">Jquery</label>
              </div>
            </ab-control-error>

          </div>

        </div>
      </div>
    </div>
    <div class="row p-2">

      <label for="">Deseja participar da nossa Neswllet?</label>
      <div class="container flex-row d-flex bd-highlight ">

        <ab-control-error errorMessage="neswllet obrigatório!">
          <div class="form-check form-check-inline">
            <input [ngClass]="validatorSet('neswllet')" formControlName="neswllet" type="radio" name="neswllet" id="radioOption2"
              class="form-check-input" value="sim">
            <label class="form-check-label" for="sim">Sim</label>
          </div>
        </ab-control-error>

        <ab-control-error errorMessage="neswllet obrigatório!">
          <div class="form-check form-check-inline">
            <input [ngClass]="validatorSet('neswllet')" formControlName="neswllet" type="radio" name="neswllet" id="radioOption2"
              class="form-check-input" value="nao">
            <label class="form-check-label" for="sim">Não</label>
          </div>
        </ab-control-error>

      </div>
    </div>
    <div class="row p-2">

      <ab-control-error errorMessage="framework obrigatório!">
        <div class="col form-check">
          <input type="checkbox" name="gender" id="gender" class="form-check-input is-valid" value="M">
          <label for="" class="form-check-label">Concorda e aceita os termos de cadastro?</label>
        </div>
      </ab-control-error>

      <div class="row">
        <div class="col">
          <button (click)="submit()" class=" btn btn-success  m-1" type="submit" [disabled]="!forms.valid">Submit</button>
          <button (click)="resetForms()" class="btn btn-outline-success m-1 ">Cancelar</button>
        </div>
      </div>

    </div>
  </form>



</div>
