<div class="container">
  <div class="row header-table p-2 mb-2 mt-3 rounded-top">
    <div class="d-flex justify-content-between">
      <label for="" class="h3 text-white font-wight-bold">Lista de <strong>Usuários</strong> </label>
      <button *ngIf="isLogged()" routerLinkActive="active" [routerLink]="['/forms']" class="btn btn-success btn-sm"><i
          class="fa fa-plus-circle" aria-hidden="true"></i><a class="text-reset text-decoration-none"> Adicionar novas
          pessoas</a></button>
    </div>
  </div>
  <label *ngIf="!isLogged()" class="h6 font-wight-bold text-danger">Faça o login para liberar as funções desabilitadas!</label>
  <div class="row">
    <table class="table table-striped">
      <thead class="table-white">
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th *ngIf="isLogged()">Ações</th>

        </tr>
      </thead>
      <tbody *ngFor="let user of users">
        <tr>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.number}}, {{user.district}}, {{user.city}}, {{user.states}} </td>
          <td>{{user.phone | mask: '(00) 00000-0000'}}</td>
          <div *ngIf="isLogged()">
            <button (click)="updateUser(user.id)" class="btn"><i class="fa fa-pencil text-warning" aria-hidden="true"></i></button>
            <button (click)="deleteUser(user.id)" class="btn"><i class="fa fa-trash text-danger" aria-hidden="true"></i></button>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>
